<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta charset="utf-8" />
        <link href="{{ SITEURL }}/theme/minima-main.css" rel="stylesheet" />
        <link href="{{ SITEURL }}/theme/coletheme.css" rel="stylesheet" />
        {% if FAVICON %}
        <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="image/x-icon" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% endblock head %}
    </head>

    <body id="index" class="archive">
        <div class="wrapper">
            <header class="site-header" role="banner">
                <a class="site-title" href="{{ SITEURL }}">{{ SITENAME }}</a>
                <nav class="site-nav">
                <div class="trigger">
                    <a class="page-link" href="{{ SITEURL }}">Home</a>
                    <a class="page-link" href="{{ SITEURL }}/archives.html">Archives</a>
                <!-- {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}-->
                </div></nav>
             </header>
            {% block content %}
            {% endblock %}

<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ SITESUBTITLE }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li class="p-name">{{ AUTHOR }} </li><li><a class="u-email" href="mailto:">aintdiscole@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/crobinso"><svg class="svg-icon"><use xlink:href="{{ SITEURL }}/theme/minima-social-icons.svg#github"></use></svg> <span class="username">crobinso</span></a></li><li><a href="https://www.twitter.com/aintdiscole"><svg class="svg-icon"><use xlink:href="{{ SITEURL }}/theme/minima-social-icons.svg#twitter"></use></svg> <span class="username">aintdiscole</span></a></li><li><a href="https://www.linkedin.com/in/cole-robinson-484a9912"><svg class="svg-icon"><use xlink:href="{{ SITEURL }}/theme/minima-social-icons.svg#linkedin"></use></svg> <span class="username">Cole Robinson</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3" align="center">
        <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS</a>
      </div>
    </div>

  </div>
</footer>
        </div><!-- container -->
                {% include 'analytics.html' %}
    </body>
</html>
