{% extends "base.html" %}
{% block navclass %}active{%endblock%}
{% block content %}
        {% block content_title %}
        {% endblock %}

      {% for article in articles_page.object_list %}
        <article class="hentry">
            <div class="post-meta"> {{ article.locale_date }} </div>
            <h3 class="post-link"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        </article>
      {% endfor %}

      {% include 'pagination.html' %}
{% endblock content %}
